@charset "utf-8";

/* ========================================
    リセットcss
========================================= */
/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{overflow-y: scroll;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
input, textarea,{margin: 0; padding: 0;}
ol, ul{list-style:none;}
table{border-collapse: collapse; border-spacing:0;}
caption, th{text-align: left;}
a:focus {outline:none;}

/* micro clearfix 
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {clear: both;}
.cf {*zoom: 1;} */


/* ========================================
    レイアウト用
========================================= */

/* common */

body{
  /* font-size: 14px; */
  font-family:'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background: #f8f8f8;
  
}

/* h1 {
  font-size: 16px;
} */

p {
  line-height: 2;
}

.container {
  width: 90%;
  margin: 0 auto;
}

section {
  padding: 20px 0;
}

section h2,
section h3 {
  text-align: center;
  margin: 0 0 10px;
}

h2::after {
  display: block;
  font-size: 18px;
  color: #888;
  padding-top: 10px;
}

img:hover {
  opacity: 0.7;
}

/* img.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
} */

/* header */
header {
  background: #5a5a5a;
  color: #fcfcfc;
  padding: 5px;
  margin-bottom: 20px;
}

/* section */

/* section h2:after {
  content: '- Works -';
} */


section .container {
  border-bottom: 1px dotted #555555;
}

section .container:last-child {
  border-bottom: none;
}

section .item{
  text-align: center;
  padding: 10px 5px;;
}

section .item img {
  width: 100%;
  height: auto;
  border: solid 2px #ccc;

}

section .item {
  margin-bottom: 10px;
}

section .item:last-child {
  margin-bottom: 0px;
}

.item p {
  text-align: center;
  /* margin-bottom: 50px; */
}

/* footer */

footer {
  background: #5a5a5a;
  text-align: center;
  color: #fcfcfc;
  padding: 15px;
}

/* medium */

@media (min-width: 570px) {

  section .container {
    display: flex;
    justify-content: space-between;
  }

  .site .item {
    width: 45%;
    float: left;
  }

  .clear {
    clear: both;
  }

  .apps .item {
    width: 45%;
    float: left;
  }

  section .item img {
    width: 100%;
    height: auto;
  }

  section p {
    margin-bottom: 0px;
  }
}

/* large */

@media (min-width: 820px) {

  .container {
    width: 820px;
  }

}@charset "utf-8";

/* ========================================
    リセットcss
========================================= */
/* html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-style:normal;
	font-weight: normal;
	font-size: 100%;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
html{overflow-y: scroll;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
input, textarea,{margin: 0; padding: 0;}
ol, ul{list-style:none;}
table{border-collapse: collapse; border-spacing:0;}
caption, th{text-align: left;}
a:focus {outline:none;}

/* micro clearfix 
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {clear: both;}
.cf {*zoom: 1;} */


/* ========================================
    レイアウト用
========================================= */

/* common */

body{
  /* font-size: 14px; */
  font-family:'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background: #f8f8f8;
  
}

/* h1 {
  font-size: 16px;
} */

p {
  line-height: 2;
}

.container {
  width: 90%;
  margin: 0 auto;
}

section {
  padding: 20px 0;
}

section h2,
section h3 {
  text-align: center;
  margin: 0 0 10px;
}

h2::after {
  display: block;
  font-size: 18px;
  color: #888;
  padding-top: 10px;
}

img:hover {
  opacity: 0.7;
}

/* img.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
} */

/* header */
header {
  background: #5a5a5a;
  color: #fcfcfc;
  padding: 5px;
  margin-bottom: 20px;
}

/* section */

/* section h2:after {
  content: '- Works -';
} */


section .item{
  text-align: center;
  padding: 10px 5px;;
}

section .item img {
  width: 100%;
  height: auto;
  border: solid 2px #ccc;

}

section .item {
  margin-bottom: 10px;
}

section .item:last-child {
  margin-bottom: 0px;
}

.item p {
  text-align: center;
  /* margin-bottom: 50px; */
}

/* footer */

footer {
  background: #5a5a5a;
  text-align: center;
  color: #fcfcfc;
  padding: 15px;
}

/* medium */

@media (min-width: 570px) {

  section .container {
    display: flex;
    justify-content: space-between;
  }

  .site .item {
    width: 45%;
    float: left;
  }

  .clear {
    clear: both;
  }

  .apps .item {
    width: 45%;
    float: left;
  }

  section .item img {
    width: 100%;
    height: auto;
  }

  section p {
    margin-bottom: 0px;
  }
}

/* large */

@media (min-width: 820px) {

  .container {
    width: 820px;
  }

}