@charset "utf-8";

/* common */

body{
  font-size: 14px;
  font-family:'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background: #f8f8f8;
  
}

p {
  line-height: 2;
}

.container {
  width: 90%;
  margin: 0 auto;
}

section {
  padding: 60px 0;
}

section h2 {
  text-align: center;
  margin: 0 0 60px;
}

h2::after {
  display: block;
  font-size: 18px;
  color: #888;
  padding-top: 10px;
}

img:hover {
  opacity: 0.7;
}

/* img.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
} */

/* header */
header {
  background: #5a5a5a;
  color: #fcfcfc;
  padding: 15px;
}

/* section */

.works h2:after {
  content: '- Works -';
}

.works .item{
  text-align: center;
  padding: 10px 5px;
}

.works .item img {
  width: 100%;
  height: auto;
  border: solid 2px #ccc;

}

.works .item {
  margin-bottom: 60px;
}
.works .item:last-child {
  margin-bottom: 0px;
}

.works p {
  text-align: center;
  /* margin-bottom: 50px; */
}

/* footer */

footer {
  background: #5a5a5a;
  text-align: center;
  color: #fcfcfc;
  padding: 15px;
}

/* medium */

@media (min-width: 570px) {

  .works .container {
    display: flex;
    justify-content: space-between;
  }

  .works .item {
    width: 45%;
  }

  .works .item img {
    width: 100%;
    height: auto;
  }

  .works p {
    margin-bottom: 0px;
  }
}

/* large */

@media (min-width: 820px) {

  .container {
    width: 820px;
  }

}