@charset "utf-8";

html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

/* micro clearfix */
.cf:before,
.cf:after {
    content: " ";
    display: table;
}
.cf:after {clear: both;}
.cf {*zoom: 1;}


/* ========================================
    レイアウト用
========================================= */

/* common */

body{
  font-family:'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  font-size: 16px;
  color: #555555;
  margin: 0;
  padding: 0;
  background: #f8f8f8;
  
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
}


p {
  font-size: 16px;
  line-height: 2;
}

.container {
  width: 90%;
  margin: 0 auto;
}

section {
  padding: 20px 0;
}

section h2,
section h3 {
  text-align: center;
  margin: 0 0 10px;
}

h2::after {
  display: block;
  font-size: 18px;
  color: #888;
  padding-top: 10px;
}

img:hover {
  opacity: 0.7;
}

/* img.shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
} */

/*============
  header 
============*/
header {
  background: #a1a1a1;
  color: #fcfcfc;
  padding: 5px;
  margin-bottom: 20px;
}


/*============
  section
============*/

/* section h2:after {
  content: '- Works -';
} */

#sites .container {
  border-bottom: 1px solid #ccc;
}

section .item{
  text-align: center;
  padding: 10px 5px;;
}

section .item img {
  width: 100%;
  height: auto;
  border: solid 2px #ccc;
}

section .item {
  margin-bottom: 10px;
}

section .item:last-child {
  margin-bottom: 0px;
}

.item p {
  text-align: center;
  /* margin-bottom: 50px; */
}

/*=========== 
  footer 
============*/

footer {
  background: #a1a1a1;
  text-align: center;
  color: #fcfcfc;
  padding: 15px;
}

#footer_inner {
  margin: 0 auto;
  position: relative;
  padding: 20px 0;
}

p#pagetop a {
  width: 78px;
  height: 20px;
  background-color: #a1a1a1;
  text-align: center;
  color: white;
  display: block;
  text-decoration: none;
  line-height: 20px;
  position: absolute;
  top: -30px;
  right: 0;
}

/*===========
  medium 
===========*/

@media (min-width: 570px) {

  section .container {
    display: flex;
    justify-content: space-between;
  }

  #sites .item {
    width: 45%;
    float: left;
  }

  .clear {
    clear: both;
  }

  #apps .item {
    width: 45%;
    float: left;
  }

  section .item img {
    width: 100%;
    height: auto;
  }

  section p {
    margin-bottom: 0px;
  }
}

/*===========
  large 
============*/

@media (min-width: 820px) {

  .container {
    width: 820px;
  }

}